/* Custom CSS for the Word Vector Interface */

html {
  font-size: unset;
}

body {
  font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 0.875rem;
  overflow: hidden;
}

.content-wrapper {
  display: flex;
  align-items: stretch;
  overflow-y: auto;
}

.content {
  /*overflow: unset;*/
}

.irs--shiny .irs-grid-pol {
  background-color: #428bca;
  opacity: 0.875;
}

.irs--shiny .irs-grid-text {
  color: #99a4ac;
}

#downloadData {
  margin-top: 6px !important;
  height: fit-content !important;
  color: #444 !important;
}

.dataTables_wrapper {
  overflow-y : auto;
}

.visualization {
  width : 100%;
}

#Download_reset_button {
  display: flex !important;
  margin: 0 !important;
  padding: 0 !important;
}

.datatables {
  min-height : 20px !important;
}

.nav-item {
  margin: 0 2px;
}

.dropdown-menu {
  font-size: 1em;
}

#sidebarItemExpanded {
  margin-top: 20px;
}

.btn-group-vertical>.btn-group:after, .btn-group-vertical>.btn-group:before, 
.btn-toolbar:after, .btn-toolbar:before, .clearfix:after, .clearfix:before, 
.container-fluid:after, .container-fluid:before, 
.container:after, .container:before, 
.dl-horizontal dd:after, .dl-horizontal dd:before, 
.form-horizontal .form-group:after, .form-horizontal .form-group:before, 
.modal-footer:after, .modal-footer:before, 
.modal-header:after, .modal-header:before, .nav:after, .nav:before, 
.navbar-collapse:after, .navbar-collapse:before, 
.navbar-header:after, .navbar-header:before, .navbar:after, .navbar:before, 
.pager:after, .pager:before, .panel-body:after, .panel-body:before, 
.row:after, .row:before {
  display: table;
  content: unset;
}

#word_cloud.shiny-output-error-validation {
  visibility: visible;
  color: inherit;
  font-size: 1.25em;
  font-style: italic;
}

#word_cloud > img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.btn, .form-control {
  font-size: 0.875em;
}

.compare_width {
  width: 60%;
}

.main-header .navbar {
  position: unset; 
  margin : 0; 
  font-size: 1.275em; 
  height: 68px !important;
};

.box {
  -webkit-box-shadow: none; 
  -moz-box-shadow: none; 
  box-shadow: none;
  overflow: auto;
}

.model_header {
  height : 160px;
}

#wwvt-home {
  margin-left: 1rem !important;
  align-self: center !important;
  color: #fefefe !important;
  font-size: 21.6px !important;
}

#wwvt-home:hover {
  color: #ccc !important;
  text-decoration: none !important;
}

.home_desc {
  font-size: 0.875rem !important;
  border-bottom-style: solid !important;
  margin-bottom: 47px !important;
  border-radius: 2px !important;
  padding: 20px !important;
  border-bottom-width: medium !important;
}

.welcome_desc {
  font-size: 1.2em !important;
}

.dataTables_filter {
  display: none !important;
}

.nav-over-flow{
  background-color: #343a40 !important;
}


@media only screen and (max-width: 1000px) {
  
  #table-main-2 {
    display: none !important;
  }

  .col-sm-6 {
    flex: 0 0 100% !important;
    max-width: 100% !important;
  }

  .compare_width {
    width: 100% !important;
  }

  #wwvt-home {
    font-size: 1rem;
  }

  .navbar-collapse.collapse {
    height: auto!important;
    padding-bottom: 0;
    overflow: visible!important;
    display: none !important;
  }

  .navbar-nav {
    display: none !important;
  }

  .side-open {
    transform: none !important;
  }

  .side-close {
    -webkit-transform: translate(-230px,0) !important;
    -ms-transform: translate(-230px,0) !important;
    -o-transform: translate(-230px,0) !important;
    transform: translate(-230px,0) !important;
  }

} /* END @media only screen and (max-width: 1000px) */
